@model MacroTracker.ViewModels.EditFoodLogViewModel

@{
    ViewData["Title"] = "Edit Food Log";
}

<h1>Edit Food Log</h1>

<form asp-action="SaveEdit" method="post">
    <input type="hidden" asp-for="UserFoodLogId" />
    <h4>Food Log Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Food Item</dt>
        <dd class="col-sm-10">
            @if (Model.FoodItem != null)
            {
                @Model.FoodItem.Name
                <input type="hidden" asp-for="FoodItemId" /> <!-- Send the selected FoodItemId -->
            }
            else
            {
                <span>Unknown Food Item</span>
            }
        </dd>

        <dt class="col-sm-2">Calories</dt>
        <dd class="col-sm-10">@Model.Calories</dd>

        <!-- Other nutritional fields -->

        <dt class="col-sm-2">Meal Type</dt>
        <input type="hidden" asp-for="MealType" />  <!-- Send the selected MealType -->
        <dd class="col-sm-10">
            @Model.MealType
            <!-- If you want to allow editing MealType, use a dropdown/input here -->
        </dd>

        <dt class="col-sm-2">Logged Serving Size</dt>
        <dd class="col-sm-10">
            <input asp-for="ServingSize" class="form-control" />
        </dd>
    </dl>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a asp-action="Index">Back to List</a>


